<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm"
     th:fragment="navbar">

    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand fw-bold" th:href="@{/book/list}">
            📚 Library Management System
        </a>

        <!-- Mobile Toggle Button -->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarContent">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse"
             id="navbarContent">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/book/list}">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/book/add}">
                        Add Book
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/book/list}">
                        Book List
                    </a>
                </li>

            </ul>

        </div>

    </div>

</nav>

</body>
</html>